# Ignorar arquivos de ambiente
.env

# Logs e capturas de tela de erros
*.log
erro_login.png
erro_iteracao_perfis.png
erro_pessoas_filtro.png

# Arquivos temporários do Python
__pycache__/
*.pyc

# Pastas de ambientes virtuais
venv/

# Configurações do VS Code
.vscode/

# Configurações de IDEs em geral
.idea/

# Arquivos temporários do sistema operacional
.DS_Store
Thumbs.db

# Ignorar o arquivo ZIP do ChromeDriver
chromedriver-win64.zip

# Ignorar o diretório do ChromeDriver
chromedriver-win64/
